* {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  box-sizing: border-box;
}

nav {
  background: #231f20;
  color: white;
  height: 66px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  z-index: 10;
  justify-content: flex-start;
  /* stick the position: */
  position: sticky;
  top: 0px;
}

.navPopUpWrapper {
  background-color: #FFFFFF;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 51px;
}
.navDropDownContentProfiles {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.navDropDownContentLanguage {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navDropDownContentProfiles div {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.navDropDownContentLanguage div {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navDropDownContentProfiles div:hover {
  background-color: #fff995;
}

.navDropDownContentLanguage div:hover {
  background-color: #fff995;
}

.nav-logo {
  color: #ffff;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  align-items: center;
  margin-right: -24px;
  width: 100vw;
  white-space: nowrap;
}

.nav-button {
  display: flex;
  align-items: center;
  margin-right: 24px;
  justify-content: flex-end;
  width: 100vw;
}

.nav-button-link {
  border-radius: 4px;
  background: #fff995;
  padding: 10px 22px;
  color: #000;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin: 3px;
}

.nav-button-link:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}

.navBarText {
    margin-left: 5px;
    font-size: 14px;
 }


input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}



body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; /* so only middle item can scroll */
}

.legalPagesOuterContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.legalPagesInnerContainer {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
}

.legalPagesBigTitle {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
}

.legalPagesTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
}

.legalPagesSubtitle {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}



.orderHistoryBtnWrapper {
  margin: auto;
  min-width: 70%;
  max-width: 70%;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  flex-wrap: wrap;
}

.dashboadTargetWrapper {
  width: 30%;
  margin: 0px auto;
}
.mktFilterWrapper {
  width: 24%;
  margin: 0px auto;
}

.section-left-align {
  justify-content: start;
  flex-shrink: 0; /* so not shrink when smaller window */
  background-color: white;
  overflow-y:scroll;
  height: 90vh;
  min-width: 20%;
  padding: 0.5rem calc((100vw - 1300px) / 2);
  padding-bottom: 30vh;
}
.chatRoomLeft {
  justify-content: start;
  flex-shrink: 0; /* so not shrink when smaller window */
  background-color: white;
  overflow-y:scroll;
  height: 90vh;
  min-width: 20%;
  padding-bottom: 30vh;
}

.form-center-wrapper {
  padding: 20px;
  justify-content: center;
  align-items: center;
  left: 0;
  flex: 4;
  overflow-y: auto;
  height: 90%;
  padding-bottom: 30vh;
  padding-top: 5vh;
}
.section-center-align {
  padding: 20px;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 30px;
  flex: 4;
  overflow: auto;
  height: 90%;
  padding-bottom: 30vh;
  padding-top: 5vh;
}
.home-page-container {
  justify-content: center;
  align-items: center;
  left: 0;
  width: 30px;
  flex: 4;
  overflow: auto;
  height: 90%;
  padding-bottom: 30vh;
}
.section-center-align-landing {
  padding-top: 80px;
  justify-content: center;
  align-items: center;
  flex: 4;
  overflow: auto;
  height: 100vh;
  padding-bottom: 30vh;
  padding-top: 15vh;
}

.chat-section-center-align {
  padding: 5px;
  padding-top: 20px;
  /* justify-content: center;
  align-items: center; */
  left: 0;
  flex:4;
  /* border: 10px solid blue; */
  overflow: auto;
  height: 104%;
  /* padding-top: 30vh; */
  padding-bottom: 30vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.section-right-align {
  justify-content: end;
  flex-shrink: 0; /* so not shrink when smaller window */
  /* border: 10px solid red; */
  padding-top: 40vh;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.task-container {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
}

.mktCard {
  position: relative;
  width: 272px;
  height: 350px;
  margin: 20px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.contentBxMkt {
  display: flex;
  flex-direction: column;
}

.mktCard .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
}

.mktCard .content .imgBx {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.mktCard .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card {
  position: relative;
  width: 175px;
  height: 230px;
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(40px);
  cursor: pointer;
}
.container .card-active {
  position: relative;
  width: 175px;
  height: 230px;
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(40px);
  border: 3px solid #231f20;
}
.task-container .task-card {
  position: relative;
  width: 80%;
  height: auto;
  margin: 5px;
  margin-left: auto;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(40px);
  cursor: pointer;
  flex-direction: column;
  padding: 10px 0;
}
.task-container .task-card-active {
  position: relative;
  width: 80%;
  height: auto;
  margin: 5px;
  margin-left: auto;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 3px solid #231f20;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(40px);
  cursor: pointer;
  flex-direction: column;
  padding: 10px 0;
}
.chat-box-title-container {
  width: 70%;
  margin: auto;
  display: flex;
}
.chat-box-title-container-text-wrapper {
  text-align: center;
  background-color: #231f20;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  margin: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.chatBoxTitleInnerWrapper {
  text-align: center;
  background-color: #231f20;
  color: white;
  display: flex;
  flex-direction: row;
  margin: auto;
}
.chatBoxTitle {
  margin: auto;
  margin-right: 10px;
}

.chat-box {
  display:flex;
  width: 70%;
  height: 90%;
  border-top: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  background-color: white;
  overflow-y: auto;
  margin: auto;
  padding-top: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.container .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
}



.task-container .task-card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  opacity: 1;
  padding: 3px;
}

.chatRoomContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  opacity: 1;
  padding: 3px;
}


.container .card-active .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  transition: 0.5s;
  transform: translateY(-3px);
}


.container .card .content .imgBx {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: -16px;
}

.container .card .content .imgBxHomePage {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 15px;
}

.task-schrinker {
  margin-right: 10px;
  text-align: end;
}
.task-expander {
  margin-left: 10px;
  text-align: start;
}
.schrinker {
  cursor: pointer;
}
.expander {
  cursor: pointer;
}

.task-card .content .task-ImgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.task-container .task-card .content .task-ImgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.leftHalfBtn {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: 1px solid #fff995;
  cursor: pointer;
  text-align: center;
  padding: 5px 30px;
  font-size: 14px;
}

.leftHalfBtnActive {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #fff995;
  border: 1px solid #fff995;
  color: black;
  cursor: pointer;
  text-align: center;
  padding: 5px 30px;
  font-size: 14px;
}

.rightHalfBtn {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  border: 1px solid #fff995;
  cursor: pointer;
  text-align: center;
  padding: 5px 30px;
  font-size: 14px;
  margin-right: 10px;
}

.rightHalfBtnActive {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  border: 1px solid #fff995;
  background-color: #fff995;
  color: black;
  cursor: pointer;
  text-align: center;
  padding: 5px 30px;
  font-size: 14px;
  margin-right: 10px;
}

.chatRoomContent img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card-active .content .imgBx {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 14px;
  margin-bottom: -14px;
}

.container .card-active .content .imgBxHomePage {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 14px;
  margin-bottom: 15px;
}

.container .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card .content .imgBxHomePage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .card-active .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .card-active .content .imgBxHomePage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card .content .contentBx h3 {
  color: #231f20;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}
.container .card-active .content .contentBx h3 {
  color: #231f20;
  font-weight: 800;
  font-size: 14px;
  text-align: center;
}

.container .card .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}
.container .card-active .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.container .card .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
}
.container .card-active .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
}

.container .card .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5x;
  opacity: 0;
  transition-delay: calc(0.1s * var(--i));
}
.container .card-active .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5x;
  opacity: 0;
  transition-delay: calc(0.1s * var(--i));
}

.container .card:hover .sci li {
  transform: translateY(0px);
  opacity: 1;
}
.container .card-active:hover .sci li {
  transform: translateY(0px);
  opacity: 1;
}

.container .card .sci li a {
  color: #fff;
  font-size: 24px;
}
.container .card-active .sci li a {
  color: #fff;
  font-size: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  padding: 5px 1px;
  text-align: center;
  background: #f59b9e;
  color: white;
  font-size: 30px;
}
.main-content-wrapper-below-navbar {
  height: 100vh;
}

.main-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: stretch;
  flex-direction: row;
  border:0px;
  padding:0px;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}
.main-content-wrapper-no-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: stretch;
  flex-direction: row;
  border:0px;
  padding:0px;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}
.main-content-wrapper-no-height {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;
  border: 0px;
  padding: 0px;
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-position: center;
}
.main-content-wrapper-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: stretch;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.main-content-wrapper-homepage-no-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: stretch;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.home-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
  height: 500px;
}

.main-content-wrapper-homepage-helper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: stretch;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}


.main-content {
  position: 'absolute';
  transform: 'translate(-50%, -50%)';
}

img {
  height: 100%;
  border-radius: 15px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

footer {
  height: 66px;
  background-color: #231f20;
  color: white;
  /* stick the position: */
  position: sticky;
  bottom: 0px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  z-index: 30;
}

.footer-row {
  display: flex;
  flex-direction: row;
  line-height: 25px;
  margin: auto;
}

.footer-column {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  text-align: center;
}

.footer-social {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  text-align: center;
}

.footer-column div {
  cursor: pointer;
}

.footer-column div:hover {
  background-color: #fff995;
  color: black;
}

.tpfield {
  height: 40px;
  border: 1px solid gray;
  margin: 5px 0;
  padding: 0 14px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  display: block;
  width: 100%;
}

.btn-next {
  border-radius: 4px;
  background-color: #04AA6D;
  padding: 10px 22px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin: 3px;
  height: 40px;
}

.btn-contact {
  border-radius: 4px;
  background-color: #04AA6D;
  padding: 10px 22px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin: 3px;
  height: 40px;
  font-size: 14px;
  height: auto;
  font-weight: bold;
}

.btn-green-border {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #04AA6D;
  padding: 10px 22px;
  color: black;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin: 3px;
  height: 40px;
  font-size: 14px;
  height: auto;
  font-weight: bold;
}

.btn-book-mkt {
  border-radius: 4px;
  background-color: #04AA6D;
  padding: 10px 10px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin: 10px auto;
  height: 40px;
  font-size: 14px;
  height: auto;
  font-weight: bold;
  width: 70%;
}

.btn-red {
  border-radius: 4px;
  background-color: #f47174;
  padding: 10px 22px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin: 3px;
  height: 40px;
  font-size: 14px;
  height: auto;
  font-weight: bold;
}

.btn-disable {
  border-radius: 4px;
    background-color: #D4D4D4;
    padding: 10px 22px;
    color: #fff;
    outline: none;
    border: none;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin: 3px;
    height: 40px;
}

.btn-send{
  border-radius: 1px;
    background-color: #fff995;
    padding: 10px 22px;
    color: #231f20;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}
.task-category {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin: 5px;
}
.btn-task-category {
  width: 50%;
  color: #231f20;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 15px;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}
.btn-task-category-active {
  background-color: #231f20;
  width: 50%;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 15px;
  text-align: center;
}

.btn-back{
  border-radius: 4px;
    background-color: grey;
    padding: 10px 22px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin: 3px;
    height: 40px;
}
.form-title {
  padding-top: 5px;
  padding-bottom: 10px;
}

.form-inner {
  left: 11.07%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  background: #231f20;
  color: white;
  padding: 15px; 
  border-radius: 5px;
}
.form-most-inner {
  width: 50vw
}

.form-wrapper-half {
  width: 50%;
}
  .form-wrapper-half label {
    display: block;
    font-family: "system-ui";
    font-size: 17px;
    color: rgb(238, 241, 222);
    margin-bottom: 8px; }

.form-row {
  display: flex;
  margin-bottom: 25px; }

  .form-row .form-wrapper {
    width: 50%; }
    .form-row .form-wrapper:first-child {
      margin-right: 25px; }
  .form-row .form-wrapper-full {
    width: 100%; }
    .form-row .form-wrapper:first-child {
      margin-right: 25px; }

.form-row-password {
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}
.checkbox-text-password-page {
  font-size: '12px';
  font-weight: 'normal';
  padding-left: '30px';
  vertical-align: 'middle';
  color: #231f20;
}
.form-wrapper {
  position: relative; }
  .form-wrapper label {
    display: block;
    font-family: "system-ui";
    font-size: 17px;
    color: rgb(238, 241, 222);
    margin-bottom: 8px; }
  .form-wrapper i.zmdi-chevron-down {
    position: absolute;
    right: 16px;
    top: 42px;
    font-size: 17px;
    color: #666; }
  .form-wrapper span.lnr-calendar-full {
    position: absolute;
    left: 16px;
    font-size: 15px;
    color: #666;
    top: 43px; }
.form-wrapper-full {
  position: relative; }
  .form-wrapper-full label {
    display: block;
    font-family: "system-ui";
    font-size: 17px;
    color: rgb(238, 241, 222);
    margin-bottom: 8px; }
  .form-wrapper-full i.zmdi-chevron-down {
    position: absolute;
    right: 16px;
    top: 42px;
    font-size: 15px;
    color: #666; }
  .form-wrapper-full span.lnr-calendar-full {
    position: absolute;
    left: 16px;
    font-size: 15px;
    color: #666;
    top: 43px; }

    .form-control {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 42px;
  padding: 0 14px; }

  .form-control.datepicker-here {
    padding-left: 39px; 
  }

  .form-control-landing {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: 60%;
  height: 42px;
  padding: 0 14px; }
  .form-control-password {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: 30%;
  height: 42px;
  padding: 0 14px; 
  display: flex;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  }
  .form-control-chat {
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  width: 95%;
  height: 42px;
  padding: 0 14px; 
  margin-right: auto; /* so the send item is on the right */
  margin-top: 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

  .centerbox-landing {
    text-align: center;
    margin: auto;
  }
  .centerbox-chat {
    text-align: left;
    display: flex;
    flex-direction:row;
    margin: auto;
    width: 100%;
  }
  

  /* CHAT ROOM MESSAGES */
  .left-chat-container {
    color: #231f20;
    width: fit-content;
    overflow-wrap: break-word;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 2px;
    margin-left: 10px;
    max-width: 80%;
  }
  .right-chat-container {
    background-color: #fff995;
    color: #231f20;
    width: fit-content;
    overflow-wrap: break-word;
    border-radius: 10px;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: 10px;
    max-width: 80%;
  }
  .left-chat-meta {
    font-size: 10px;
    margin-left: 12px;
  }

  .right-chat-meta {
    font-size: 10px;
    text-align: right; 
    margin-right: 16px;
  }

  /* CHATROOM SEND MESSAGE */
  
.send-msg-container {
  width: 70%;
  margin: auto;
  border-radius: 3px;
}

.history-card {
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  justify-content: start;
  align-items: center;
  backdrop-filter: blur(40px);
  flex-direction: row;
  padding: 10px;
  flex-wrap: wrap;
}

.task-container .history-card .content {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  opacity: 1;
  padding: 3px;
}
.helper-ImgBx {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}

.bell {
  width: 50px;
  height: 14px;
  margin-left: 15%;
  margin-bottom: -20px;
  z-index: 5;
}

.noShow {
  visibility: hidden;
}

.defaultAvatar-ImgBx {
  position: relative;
  width: 80px;
  border-radius: 50%;
  margin-right: 8px;
}

.nameBx {
  width: 60%;
}

.smallFlexColumn {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.evenSmallFlexColumn {
  display: flex;
  flex-direction: column;
  width: 180px;
}
.profilePicWidth {
  width: 95px;
}
.fullWidth {
  width: 100%;
  margin-top: 10px;
}
.nameWidth {
  width: 170px;
  margin-left: 10px;
}
.smallWidth {
  width: 130px;
  line-break: anywhere;
  margin-left: 10px;
}
.bookingStatusWidth {
  width: 45%;
}
.checkBoxWidth {
  width: 200px;
}
.bookWrapper {
  margin-left: 30px;
}
.leftWrapper {
  width: 143px;
}
.secondCheckBoxWidth {
  width: 143px;
}
.chatWrapper {
  width: 50px;
  margin: auto 10px;
}
.centerWrapper {
  width: 40%;
  margin: auto;
  background: white;
  border-radius: 8px;
  padding: 14px 10px 28px;
}
.centerWrapperWithBackground {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  background: white;
  padding: 14px 10px 28px;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
  padding: 10vh 30px 50px;
}
.centerWrapperWithBackgroundHelper {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  background: white;
  padding: 14px 10px 28px;
  margin-bottom: 30px;
  background-size: cover;
  background-position: 64%;
  
  flex-wrap: wrap;
  padding: 10vh 30px 50px;
}

.coverLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding-top: 0px;
}
.coverRight {
  width: 50%;
  padding-top: 0px;
}
.coverButtonWrapper {
  width: 50%;
  padding-top: 0px;
  align-self: center;
  display: flex;
}
.whiteWrapper {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin: 45px 70px 0px;
}

.centerWrapperMkt {
  width: 100%;
  margin: auto;
  background: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
}
.mktWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 220px 30px;
}
.centerHomePageEmailBannerWrapper {
  width: 50%;
  margin: auto;
  background: white;
  border-radius: 8px;
  padding: 14px 10px 28px;
  margin-bottom: 30px;
}

.pureFlexColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pureFlexRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.mktHomepageText {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  text-align: center;
  padding: 0px 20px ;
  text-align: center;
}

.textDateTime {
  margin: auto;
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
}

.flexItemVerticalCenter {
  margin: auto;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 14px;
}

.task-card .content .contentBx {
  padding-left: 30px;
}
.helper-ImgBx img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nonActiveSelectedOrderBtn {
  position: relative;
  width: 200px;
  height: 50px;
  margin: 20px;
  box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  cursor: pointer;
}

.activeSelectedOrderBtn {
  position: relative;
  font-weight: bold;
  background-color: #fff995;
  width: 200px;
  height: 50px;
  margin: 20px;
  box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  cursor: pointer;
}

.nonActiveStyle {
  color: black;
  text-decoration: none;
  padding: 10px 22px;
  cursor: pointer;
  border-bottom: 1px solid #e6e6e6;
  width: 50%;
  justify-content: start;
  text-align: center;
}
.activeStyle {
  background-color: #231f20;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 22px;
  cursor: pointer;
  border-bottom: 1px solid #e6e6e6;
  width: 50%;
  justify-content: start;
  text-align: center;
}

.three-dot-list-popup {
  z-index: 9;
  position: absolute;
  right: 15%;
  top: 130px;
  background-color: white;
  padding: 0px;
  border-radius: 4px;
}

.request-active {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.request {
  display: flex;
  flex-direction: row;
  color: black;
  padding: 5px;
  cursor: pointer;
}

.logoutButtonActive {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px 22px;
  cursor: pointer;
  border: 1px solid #fff995;
  background-color: #fff995;
  border-radius: 1px;
  margin: 3px;
  font-weight: bold;
  font-size: 16px;
}

.logoutButtonNonActive {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px 22px;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #fff995;
  margin: 3px;
  background-color: #231f20;
  font-size: 16px;
}

.orderStatusFulfilled {
  color: #04AA6D;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}

.orderStatusNotFulfilled {
  margin: auto;
  color: #E35050;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}

.singleMkt {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 20px;
}

.lastSingleMkt {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 20px;
}

input[type="checkbox" i] {
  width: 20px;
  height: 20px;
}
.mktTitleLeft {
  display: flex;
  flex-direction: column;
  margin: auto 30px;
  width: 50%;
}
.mktPictureRight {
  width: 50%;
}
.mktTitle {
  margin-bottom: 10px;
}
.mktDetails {
  margin-bottom: 10px;
}

.rectangleImageBxRight {
  position: relative;
  width: 240px;
  height: 240px;
  overflow: hidden;
  margin: 0 auto;
}
.guidanceImgContainer {
  position: relative;
  width: 100%;
  height: 50vh;
  margin: 10px auto;
}
.howItWorksImgContainer {
  position: relative;
  width: 90vw;
  height: 80vh;
  margin: 10px auto;
}
.rectangleImageBxRight img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
.guidanceImgContainer img{
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
.howItWorksImgContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.uploadInnerDiv {
  display: flex;
  flex-direction: column;
  margin: auto;
  cursor: pointer;
}

.uploadLabel {
  color: white;
  cursor: pointer;
  background-color: #04AA6D;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 0px;
}

.blankProfileImageBx {
  background-color: white;
  text-align: center;
  padding: 15px;
  margin: 0px auto 0px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
}

.smallBlankProfileImageBx {
  background-color: white;
  text-align: center;
  margin: 0px auto 0px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
}

.smallBlankProfileImageBx a img {
  border-radius: 50%;
}

.profileImageBx {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 8px auto 15px;
}

.profileImageBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.statusWidth {
  width: 300px;
}
.btnWidth {
  width: fit-content;
}


@media all and (max-width: 1200px) {
  .bell {
    margin-left: 0px;
    margin-right: auto;
  }
  .nav-button {
    margin-right: 0px;
  }
  .form-most-inner {
    width: 80vw;
  }
  .guidanceImgContainer {
    height: 30vh;
  }
  .howItWorksImgContainer {
    height: 40vh;
  }
  
  
  .chatBoxTitleInnerWrapper {
    text-align: center;
    background-color: #231f20;
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .dashboadTargetWrapper {
    width: 30%;
    margin: 0px auto;
  }
  .mktFilterWrapper {
    width: 24%;
    margin: 0px auto;
  }
  .nonActiveSelectedOrderBtn {
    width: 100%;
    margin: 5px auto;
  }
  .activeSelectedOrderBtn {
    width: 100%;
    margin: 5px auto;
  }
 
  .chat-box-title-container {
    width: 90%;
  }
  .chatBoxTitle {
    margin-right: auto;
    margin-bottom: 10px;
  }
  .chat-box {
    width: 90%;
  }
  .nameBx {
    width: 80%;
    text-align: center;
  }
  .navDropDownContentProfiles {
    position: absolute;
    right: 65%;
  }
  .navDropDownContentLanguage {
    position: absolute;
    right: 60%;
  }
  
  .leftWrapper {
    width: 41%;
  }
  .chatRoomContent {
    flex-direction: column;
  }
  .task-container .task-card {
    width: 95%;
  }
  .task-container .task-card-active {
    width: 95%;
  }
  .helper-ImgBx {
    margin-bottom: 8px;
  }
  .send-msg-container {
    width: 90%;
  }
  form {
    width: 60vw;
  }
  .form-row {
    flex-wrap: wrap;
  }
  .form-row .form-wrapper {
    width: 100%;
    margin-top: 10px;
  }
  .form-row .form-wrapper-half {
    width: 100%;
    margin-top: 10px;
  }
  .form-row .form-wrapper:first-child {
    margin-right: 0px;
}
  .centerWrapperWithBackground {
    padding: 10vh 20px 50px;
  }
  .centerWrapperWithBackgroundHelper {
    padding: 10vh 20px 50px;
  }
  .mktWrapper {
    display: flex;
    flex-direction: column;
    padding: 0 60px 30px;
  }
  .mktTitleLeft {
    width: 100%;
  }
  .mktPictureRight {
    width: 100%;
  }
  .whiteWrapper {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 0px 20px;
  }
  .coverLeft {
    width: 100%;
    padding-top: 50px;
  }
  .coverRight {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 0px 120px;
  }
  .coverButtonWrapper {
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    margin: 0px 120px;
  }
  .guidanceImgContainer {
    margin: auto;
  }
  .howItWorksImgContainer {
    margin: auto;
  }
  .rectangleImageBxRight {
    margin: auto;
  }
  .form-control-password {
    width: 50%;
  }
  .centerWrapper {
    width: 80%;
  }
  .smallFlexColumn {
    width: 40%;
    display: flex;
    flex-direction: column;
  }
  .evenSmallFlexColumn {
    width: 40%;
    display:flex;
    flex-direction: column;
  }
  .profilePicWidth {
    width: 21%;
  }
  .smallWidth {
    width: 25%;
  }
  .nameWidth {
    width: 35%;
  }
  .checkBoxWidth {
    width: 100%;
  }
  .bookWrapper {
    margin-left: 0px;
  }
  .chatWrapper {
    width: 100%;
  }
  .bookingStatusWidth {
    width: 100%;
  }
  .secondCheckBoxWidth {
    width: 35%;
  }
}

@media screen and (max-width: 820px) {
  .nav-logo {
    display: none;
  }
  input[type="checkbox" i] {
    width: 40px;
    height: 40px;
  }
  .leftHalfBtn {
    padding: 5px 5px;
    font-size: 10px;
  }

  .leftHalfBtnActive {
    padding: 5px 5px;
    font-size: 10px;
  }

  .rightHalfBtn {
    padding: 5px 5px;
    font-size: 10px;
  }

  .rightHalfBtnActive {
    padding: 5px 5px;
    font-size: 10px;
  }
  .navBarText {
    display: none
  }
  .dashboadTargetWrapper {
    width: 100%;
    margin: 0px auto;
  }
  .mktFilterWrapper {
    width: 100%;
    margin: 0px auto;
  }
  .nonActiveSelectedOrderBtn {
    margin: 5px auto;
  }
  .activeSelectedOrderBtn {
    margin: 5px auto;
  }
  .footer-column {
    margin: 0 3px;
  }
  .footer-column div {
    font-size: 7px;
  }
}
@media (max-width: 500px) {
  input[type="checkbox" i] {
  width: 20px;
  height: 20px;
}
  .main-content-wrapper-no-height {
    height: 112vh;
  }
  .dashboadTargetWrapper {
    width: 100%;
    margin: 0px auto;
  }
  .mktFilterWrapper {
    width: 100%;
    margin: 0px auto;
  }
  .nonActiveSelectedOrderBtn {
    margin: 5px auto;
  }
  .activeSelectedOrderBtn {
    margin: 5px auto;
  }
  .smallWidth {
    width: 50%;
    line-break: anywhere;
  }
  .nameWidth {
    width: 100%;
    line-break: anywhere;
  }
  .mktWrapper {
    display: flex;
    flex-direction: column;
    padding: 0 0px 30px;
    flex-wrap: wrap;
  }
  .mktTitleLeft {
    width: 100%;
  }
  .mktPictureRight {
    width: 100%;
  }
  .singleMkt {
    flex-wrap: wrap;
  }
  .lastSingleMkt {
    flex-wrap: wrap;
    padding-bottom: 70px;
  }
  .mktTitle {
    text-align: center;
  }
  .mktDetails {
    text-align: center;
  }
  .rectangleImageBxRight {
    margin: auto;
  }
  .whiteWrapper {
    background-color: white;
    border-radius: 8px;
    padding: 1px;
    margin: 0px 20px;
  }
  .coverLeft {
    width: 100%;
    padding-top: 50px;
  }
  .coverRight {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 0px 10px;
  }
  .coverButtonWrapper {
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    margin: 0px 10px;
  }
  .form-control-landing {
    width: 90%;
  }
  .form-control-password {
    width: 90%;
  }
  .centerWrapper {
    width: 85%;
  }
  .smallFlexColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .evenSmallFlexColumn {
    width: 45%;
    display:flex;
    flex-direction: column;
  }
  .profilePicWidth {
    width: 50%;
  }
  .checkBoxWidth {
    width: 100%;
  }
  .leftWrapper {
    width: 50%;
  }
  .secondCheckBoxWidth {
    width: 50%;
  }
  .chatWrapper {
    width: 100%;
  }
}

.fontSize17Title {
  font-size: 17px;
  padding-bottom: 10px;
  font-weight: bold;
}